<section class="catalog-section">
  <div class="container">
    <h2 class="header-catalog">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture class="catalog-img">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/garmin-fenix-7x-pro-sapphire-solar-desktop-1x.png 1x,
              /img/catalog/garmin-fenix-7x-pro-sapphire-solar-desktop-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/garmin-fenix-7x-pro-sapphire-solar-tablet-1x.png 1x,
              /img/catalog/garmin-fenix-7x-pro-sapphire-solar-tablet-2x.png 2x
            "
          />
          <source
            media="(max-width: 768px)"
            srcset="
              /img/catalog/garmin-fenix-7x-pro-sapphire-solar-mobile-1x.png 1x,
              /img/catalog/garmin-fenix-7x-pro-sapphire-solar-mobile-2x.png 2x
            "
          />
          <img
            src="/img/catalog/garmin-fenix-7x-pro-sapphire-solar-desktop-1x.png"
            alt="Garmin Fenix 7x Pro Sapphire Solar watch"
          />
        </picture>
        <div class="catalog-img-caption">
          <h3 class="model-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="model-price">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-img">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/garmin-marq-athlete-desktop-1x.png 1x,
              /img/catalog/garmin-marq-athlete-desktop-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/garmin-marq-athlete-tablet-1x.png 1x,
              /img/catalog/garmin-marq-athlete-tablet-2x.png 2x
            "
          />
          <source
            media="(max-width: 768px)"
            srcset="
              /img/catalog/garmin-marq-athlete-mobile-1x.png 1x,
              /img/catalog/garmin-marq-athlete-mobile-2x.png 2x
            "
          />
          <img
            src="/img/catalog/garmin-marq-athlete-desktop-1x.png"
            alt="Garmin Marq Athlete watch"
          />
        </picture>
        <div class="catalog-img-caption">
          <h3 class="model-name">Garmin Marq Athlete</h3>
          <p class="model-price">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-img">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/garmin-descent-mk1-desktop-1x.png 1x,
              /img/catalog/garmin-descent-mk1-desktop-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/garmin-descent-mk1-tablet-1x.png 1x,
              /img/catalog/garmin-descent-mk1-tablet-2x.png 2x
            "
          />
          <source
            media="(max-width: 768px)"
            srcset="
              /img/catalog/garmin-descent-mk1-mobile-1x.png 1x,
              /img/catalog/garmin-descent-mk1-mobile-2x.png 2x
            "
          />
          <img
            src="/img/catalog/garmin-descent-mk1-desktop-1x.png"
            alt="Garmin Descent MK1 watch"
          />
        </picture>
        <div class="catalog-img-caption">
          <h3 class="model-name">Garmin Descent MK1</h3>
          <p class="model-price">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-img">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/garmin-d2-delta-px-desktop-1x.png 1x,
              /img/catalog/garmin-d2-delta-px-desktop-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/garmin-d2-delta-px-tablet-1x.png 1x,
              /img/catalog/garmin-d2-delta-px-tablet-2x.png 2x
            "
          />
          <source
            media="(max-width: 768px)"
            srcset="
              /img/catalog/garmin-d2-delta-px-mobile-1x.png 1x,
              /img/catalog/garmin-d2-delta-px-mobile-2x.png 2x
            "
          />
          <img
            src="/img/catalog/garmin-d2-delta-px-desktop-1x.png"
            alt="Garmin D2 Delta PX watch"
          />
        </picture>
        <div class="catalog-img-caption">
          <h3 class="model-name">Garmin D2 Delta PX</h3>
          <p class="model-price">€380</p>
        </div>
      </li>
      <li class="catalog-item hidden-item-mobile">
        <picture class="catalog-img">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/garmin-fenix-6-pro-solar-desktop-1x.png 1x,
              /img/catalog/garmin-fenix-6-pro-solar-desktop-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/garmin-fenix-6-pro-solar-tablet-1x.png 1x,
              /img/catalog/garmin-fenix-6-pro-solar-tablet-2x.png 2x
            "
          />
          <img
            src="/img/catalog/garmin-fenix-6-pro-solar-desktop-1x.png"
            alt="Garmin Fenix 6 Pro Solar watch"
          />
        </picture>
        <div class="catalog-img-caption">
          <h3 class="model-name">Garmin Fenix 6 Pro Solar</h3>
          <p class="model-price">€400</p>
        </div>
      </li>
      <li class="catalog-item hidden-item-mobile">
        <picture class="catalog-img">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/tube-watch-s42-date-steel-with-black-case-desktop-1x.png 1x,
              /img/catalog/tube-watch-s42-date-steel-with-black-case-desktop-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/tube-watch-s42-date-steel-with-black-case-tablet-1x.png 1x,
              /img/catalog/tube-watch-s42-date-steel-with-black-case-tablet-2x.png 2x
            "
          />
          <img
            src="/img/catalog/tube-watch-s42-date-steel-with-black-case-desktop-1x.png"
            alt="Tube Watch S42 Date Steel With Black Case watch"
          />
        </picture>
        <div class="catalog-img-caption">
          <h3 class="model-name">Tube Watch S42 Date Steel With Black Case</h3>
          <p class="model-price">€395</p>
        </div>
      </li>
    </ul>
    <button class="catalog-button hidden-mobile-button" type="button">
      Show more
    </button>
  </div>
</section>
