<section class="hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero-content">
        <h1 class="hero-title">
          Welcome to our <span class="hero-highlight">collection</span> of
          premium watches
        </h1>
        <p class="hero-description">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="gallery">
        <ul class="gallery-list">
          <li class="gallery-item">
            <picture>
              <source srcset="/img/hero/v1.webp 1x, /img/hero/v1-1.webp 2x" />
              <img
                class="gallery-image"
                src="/img/hero/v1.webp"
                alt="Victoria Romashenko"
              />
            </picture>
          </li>

          <li class="gallery-item">
            <picture>
              <source srcset="/img/hero/j2.webp 1x, /img/hero/j2-1.webp 2x" />
              <img
                class="gallery-image"
                src="/img/hero/j2.webp"
                alt="John Wax"
              />
            </picture>
          </li>

          <li class="gallery-item">
            <picture>
              <source srcset="/img/hero/a3.webp 1x, /img/hero/a3-1.webp 2x" />
              <img
                class="gallery-image"
                src="/img/hero/a3.webp"
                alt="Anastasia Trachuk"
              />
            </picture>
          </li>
        </ul>

        <a class="scroll-link" href="#footer">Scroll down</a>
      </div>
    </div>
    <picture class="hero-image-wrapper">
      <source
        srcset="
          /img/hero/rectangle-des-min.jpg 1x,
          /img/hero/rectangle-des-min.jpg 2x
        "
        media="(min-width: 1280px)"
        width="1150"
      />
      <source
        srcset="
          /img/hero/rectangle-tab-min.jpg   1x,
          /img/hero/rectangle-tab-1-min.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/hero/rectangle-mob-min.jpg   1x,
          /img/hero/rectangle-mob-1-min.jpg
        "
        media="(max-width: 767px)"
      />
      <img
        class="hero-image"
        src="/img/hero/rectangle-mob-min.jpg"
        alt="Black watch"
      />
    </picture>
  </div>
</section>
