<div class="container mobile-menu" data-menu>
  <div class="mobile-menu-container">
    <button type="button" class="mobile-menu-close" data-menu-close>
      <svg class="close-icon" width="20" height="20">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobile-nav">
      <ul class="mobile-nav-list">
        <li><a href="#" class="mobile-menu-a mobile-menu-a-active">Home</a></li>
        <li><a href="#" class="mobile-menu-a">About Us</a></li>
        <li><a href="#catalog" class="mobile-menu-a">Catalog</a></li>
        <li><a href="#sale" class="mobile-menu-a">Sale</a></li>
        <li><a href="#reviews" class="mobile-menu-a">Reviews</a></li>
        <li><a href="#contact-us" class="mobile-menu-a">Contact Us</a></li>
      </ul>
    </nav>

    <ul class="mobile-menu-social">
      <li class="social-li">
        <a href="https://www.facebook.com/goITclub/" class="mobile-links">
          <svg class="mobile-social-networks" width="34" height="34">
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-li">
        <a href="https://www.instagram.com/goitclub/" class="mobile-links">
          <svg class="mobile-social-networks" width="34" height="34">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-li">
        <a href="https://www.youtube.com/c/GoIT" class="mobile-links">
          <svg class="mobile-social-networks" width="34" height="34">
            <use href="/img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
