<section class="sale container" id="sale">
  <h2 class="section-title">Sale</h2>
  <div class="wrap">
    <div class="watch-img-wrap">
      <ul class="sale-list">
        <li class="sale-item">
          <picture>
            <source
              srcset="
                /img/sale/watch-1-desc.png    1x,
                /img/sale/watch-1-desc-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/sale/watch-1-tab.png    1x,
                /img/sale/watch-1-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/sale/watch-1.png 1x, /img/sale/watch-1-2x.png 2x"
              media="(max-width: 767px)"
            />
            <img
              class="sale-item-img"
              src="/img/sale/watch-1-desc.png.png"
              alt="sale watch-1"
            />
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              srcset="
                /img/sale/watch-2-desc.png    1x,
                /img/sale/watch-2-desc-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/sale/watch-2-tab.png    1x,
                /img/sale/watch-2-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/sale/watch-2.png 1x, /img/sale/watch-2-2x.png 2x"
              media="(max-width: 767px)"
            />
            <img
              class="sale-item-img"
              src="/img/sale/watch-2-desc.png"
              alt="sale watch-2"
            />
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              srcset="
                /img/sale/watch-3-desc.png    1x,
                /img/sale/watch-3-desc-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/sale/watch-3-tab.png    1x,
                /img/sale/watch-3-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/sale/watch-3.png 1x, /img/sale/watch-3-2x.png 2x"
              media="(max-width: 767px)"
            />
            <img
              class="sale-item-img"
              src="/img/sale/watch-3-desk.png"
              alt="sale watch-3"
            />
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              srcset="
                /img/sale/watch-4-desc.png    1x,
                /img/sale/watch-4-desc-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/sale/watch-4-tab.png    1x,
                /img/sale/watch-4-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/sale/watch-4.png 1x, /img/sale/watch-4-2x.png 2x"
              media="(max-width: 767px)"
            />
            <img
              class="sale-item-img"
              src="/img/sale/watch-4-desk.png"
              alt="sale watch-4"
            />
          </picture>
        </li>
      </ul>
      <div class="main-img-wrap">
        <picture>
          <source
            srcset="
              /img/sale/watch-5-desc.png    1x,
              /img/sale/watch-5-desc-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/sale/watch-5-tab.png    1x,
              /img/sale/watch-5-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/sale/watch-5.png 1x, /img/sale/watch-5-2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            class="sale-main-img"
            src="/img/sale/watch-5-desk.png"
            alt="sale watch-5"
          />
        </picture>
      </div>
    </div>
    <div class="description">
      <h3 class="description-title">
        MARQ&reg; Commander (Gen 2) - Carbon Edition
      </h3>
      <p class="description-subtitle">Product tag: 706587</p>
      <div class="price">
        <p class="price-new">&euro;1500</p>
        <p class="price-old">&euro;3000</p>
      </div>
      <p class="description-main-text">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="description-list">
        <li class="description-item">
          <p class="description-item-text">Fused carbon fiber</p>
        </li>
        <li class="description-item">
          <p class="description-item-text">Grade-5 Titanuim</p>
        </li>
        <li class="description-item">
          <p class="description-item-text">Athlete</p>
        </li>
        <li class="description-item">
          <p class="description-item-text">Golfer</p>
        </li>
        <li class="description-item">
          <p class="description-item-text">Commander</p>
        </li>
        <li class="description-item">
          <p class="description-item-text">Adventurer</p>
        </li>
      </ul>
    </div>
  </div>
</section>
